@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Gaming Custom Styles */
.font-gaming {
    font-family: 'Rajdhani', sans-serif;
}